<template>
  <v-col
    ><v-row>
      <v-col>
        <v-sheet max-width="20vw" rounded="xs">
          <v-icon color="blue darken-2" class="group pa-2">
            mdi-dialpad
          </v-icon>
          <p class="titulo-atividade">
            Função para calcular o 'Tempo Médio de Clientes na Fila e no
            Sistema' para N cenários
          </p>
          <v-text-field
            label="Servidores"
            :rules="rules"
            hide-details="auto"
            v-model="numero_de_servidores"
          ></v-text-field>
          <v-text-field
            label="Lambda"
            :rules="rules"
            hide-details="auto"
            v-model="lamda"
          ></v-text-field>
          <v-text-field
            label="Mí"
            :rules="rules"
            hide-details="auto"
            v-model="mi"
          ></v-text-field>

          <v-col>
            <v-btn text depressed dark color="blue" @click="calcula()">
              Calcular
            </v-btn>
          </v-col>
          <v-col v-if="atendentes_necessarios"
            ><v-alert type="error"
              >O número de Servidores não comporta o sistema. Uma solução é
              alteralo para {{ atendentes_necessarios }} ou mais, para um
              cenário ideal</v-alert
            >
          </v-col>
        </v-sheet>
      </v-col>
      <v-col v-if="tempo_medio_na_fila && tempo_medio_no_sistema">
        <p class="titulo-respostas">Resultados</p>
        <p class="titulo-resposta">Tempo Médio de Clientes na Fila</p>
        <p class="resposta">{{ tempo_medio_na_fila }} horas</p>
        <p class="titulo-resposta">Tempo Médio de Clientes na Sistema</p>
        <p class="resposta">{{ tempo_medio_no_sistema }} horas</p>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  data: () => ({
    ro: null,
    mi: null,
    lamda: null,
    pi_zero: null,
    numero_esperado_de_clientes: null,
    numero_de_servidores: null,
    numero_de_clientes_na_fila: null,
    numero_clientes_no_sistema: null,
    tempo_medio_no_sistema: null,
    tempo_medio_na_fila: null,
    atendentes_necessarios: null,

    rules: [
      (value) => !!value || 'Necessário.',
      (value) => (value && typeof value == 'string') || 'Inteiro',
    ],
  }),
  methods: {
    fatorial(numero) {
      var rval = 1;
      for (var i = 2; i <= numero; i++) rval = rval * i;
      return rval;
    },
    funcao_calcula_ro() {
      return this.lamda / (this.mi * this.numero_de_servidores);
    },
    funcao_calcula_pi_zero() {
      // Para encontrar o Pi Zero
      this.pi_zero = 0;
      let denominador = 0;
      let somatorio = 0;
      for (
        let servidor = 0;
        servidor <= this.numero_de_servidores - 1;
        servidor++
      ) {
        somatorio +=
          (this.numero_de_servidores * this.ro) ** servidor /
          this.fatorial(servidor);
      }

      let parte_2 =
        Math.pow(
          this.numero_de_servidores * this.ro,
          this.numero_de_servidores
        ) /
        (this.fatorial(this.numero_de_servidores) * (1 - this.ro));
      denominador = somatorio + parte_2;
      this.pi_zero = 1 / denominador;
    },
    funcao_calcula_numero_esperado_de_clientes() {
      this.numero_esperado_de_clientes =
        (Math.pow(
          this.numero_de_servidores * this.ro,
          this.numero_de_servidores
        ) *
          this.pi_zero) /
        (this.fatorial(this.numero_de_servidores) * (1 - this.ro));
    },
    funcao_calcula_numero_de_clientes_na_fila() {
      this.numero_de_clientes_na_fila =
        (this.numero_esperado_de_clientes * this.ro) / (1 - this.ro);
    },
    funcao_calcula_numero_clientes_no_sistema() {
      this.numero_clientes_no_sistema =
        this.numero_de_clientes_na_fila + this.lamda / this.mi;
    },
    funcao_calcula_tempo_medio_no_sistema() {
      this.tempo_medio_no_sistema =
        this.numero_clientes_no_sistema / this.lamda;
      this.tempo_medio_no_sistema = this.tempo_medio_no_sistema.toFixed(4);
    },
    funca_calcula_tempo_medio_na_fila() {
      this.tempo_medio_na_fila = this.numero_de_clientes_na_fila / this.lamda;
      this.tempo_medio_na_fila = this.tempo_medio_na_fila.toFixed(4);
    },
    funcao_calcula_numero_atendentes_necessarios() {
      let ro = this.funcao_calcula_ro();
      let numero_necessario = this.numero_de_servidores;
      while (ro >= 1) {
        numero_necessario++;
        ro = this.lamda / (this.mi * numero_necessario);
      }
      this.atendentes_necessarios = numero_necessario;
    },
    funcao_exibe_mensagem_com_atendentes_necessarios() {},
    calcula() {
      this.ro = this.funcao_calcula_ro();
      if (this.ro >= 1) {
        this.funcao_calcula_numero_atendentes_necessarios();
      } else {
        this.funcao_calcula_pi_zero();
        this.funcao_calcula_numero_esperado_de_clientes();
        this.funcao_calcula_numero_de_clientes_na_fila();
        this.funcao_calcula_numero_clientes_no_sistema();
        this.funcao_calcula_tempo_medio_no_sistema();
        this.funca_calcula_tempo_medio_na_fila();
        this.atendentes_necessarios = null;
      }
    },
  },
};
</script>

<style lang="scss">
.titulo-atividade {
  font-size: 16px;
  font-weight: 500;
  color: rgb(59, 59, 59);
}
.titulo-respostas {
  font-size: 18px;
  font-weight: 500;
  color: rgb(87, 87, 87);
}
.titulo-resposta {
  font-size: 16px;
  font-weight: 500;
  color: rgb(110, 110, 110);
  margin-bottom: 0.5px !important;
}
.resposta {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
</style>
