<template>
  <v-app id="inspire">
    <v-app-bar app color="white" flat>
      <v-container class="py-0 fill-height">
        <v-avatar class="mr-10" color="grey darken-1" style="{border:0}">
          <img src="../assets/logo_unifesspa.png" alt="logo_unifesspa" />
        </v-avatar>

        <v-btn
          v-for="(item, index) in links"
          :key="index"
          text
          :href="item.link"
        >
          {{ item.descricao }}
        </v-btn>
      </v-container>
    </v-app-bar>

    <v-main class="grey lighten-3">
      <!--- Container Primário--->
      <v-container>
        <v-row>
          <!--- SideBar--->
          <v-col cols="3">
            <v-sheet rounded="lg">
              <v-list color="transparent">
                <v-list-item v-for="(item, index) in lista" :key="index" link>
                  <v-list-item-content>
                    <v-list-item-title> {{ item }} </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-divider class="my-2"></v-divider>

                <v-list-item link color="grey lighten-4">
                  <v-list-item-content>
                    <v-list-item-title>
                      Atividade 2
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-sheet>
          </v-col>

          <v-col>
            <v-sheet min-height="70vh" rounded="lg">
              <!-- Avaliação e Desempenho de Sistemas Atividade 2 -->
              <AvalicaoSistemasAtividade2 />
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import AvalicaoSistemasAtividade2 from '~/components/avaliacao_sistemas_atividade_2_teoria_das_filas';
export default {
  components: {
    AvalicaoSistemasAtividade2,
  },
  data: () => ({
    links: [
      { descricao: 'UNIFESSPA', link: 'https://www.unifesspa.edu.br' },
      { descricao: 'FACEEL', link: 'https://faceel.unifesspa.edu.br/' },
      { descricao: 'Kristhyan', link: 'https://www.instagram.com/_kristhyan/' },
      {
        descricao: 'Mikael',
        link: 'https://www.instagram.com/mikael_almondes/',
      },
    ],
    lista: ['Avaliação e Definição de Sistemas', 'Teoria das Filas'],
  }),
  methods: {},
};
</script>
